.container {
  padding: 0 2rem;
}

.form {
  text-align: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.scanLog {
  width: 25em;
  height: 7.5em;
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.5em;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.25);
}

.button {
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid;
}

.input {
  width: 200px;
  padding: 0;
  margin: 5px 20px;
  box-sizing: border-box;
  text-align: left;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bars {
  text-align: right;
}

.main a {
  color: #0070f3;
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
