.container {
  padding: 2rem;
  width:100%;
}
.tcontainer {
  width:100%;
  overflow: auto;
  height: 60vh;
}

.main {
  min-height: 90vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.scanLog {
  width: 25em;
  height: 7.5em;
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.5em;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.25);
}

.studentTable {
  width: 60em;
  height: 7.5em;
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.5em;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.25);
}

.bars {
  text-align: right;
}

.main a {
  color: #0070f3;
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
